@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.header-nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 18em;
}

.nav-logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

nav.header-nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

div.header-content {
  padding: 100px 18em;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

div.header-content-left {
  width: 550px;
}

h1 {
  padding-bottom: 1.5rem;
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

div.header-content-left > p {
  font-size: 18px;
  padding-bottom: 1.5rem;
  margin: 0;
  color: #e5e7eb;
}

#input-header {
  background-color: #3882f6;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  transition: 0.4s ease;
}
#input-header:hover,
a:hover {
  cursor: pointer;
}

#input-header:hover {
  background-color: white;
  color: #3882f6;
  border: 1px solid #3882f6;
}

div.header-content-right {
  flex-shrink: 0;
}

div.header-content-right > img#header-content-img {
  object-fit: cover;
  width: 500px;
  height: 250px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-info {
  width: 300px;
  padding-bottom: 3rem;
  align-self: center;
}

h2 {
  padding: 0;
  margin: 0;
}

.main-desc {
  display: flex;
  gap: 2.5rem;
}

.div-text {
  padding-top: 10px;
  width: 200px;
}

.div-img {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border: 4px solid rgba(11, 15, 230, 0.7);
  border-radius: 10%;
  transition: 0.4s ease;
}

.div-img > .main-desc-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-img:hover {
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.3);
}

ul,
input {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
.outer-main-desc-div p {
  padding: 0;
  margin: 0;
  display: inline;
}
